<div>
  <div class="header">
    <div class="d-flex justify-content-center m-3">
      <h1>M1ST3R C0CKTA1L</h1>
    </div>
    <div class="d-flex justify-content-center m-3">
      <p>Here is a list of available cocktails</p>
    </div>
  </div>

  </br>
    <div class="d-flex justify-content-center m-3">
      <%= link_to "+ Create a new cocktail", new_cocktail_path, class: 'btn btn-info' %>
    </div>
      <div class="row">
        <div class="card-group d-flex justify-content-between">
          <% @cocktails.each do |cocktail|%>
          <div class="col-3">
            <div class="card m-3" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><%= cocktail.name %></h5>
                <% if cocktail.photo.attached? %>
                  <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :scale %>
                <% end %>
                <div class="">
                  <%= link_to 'See More', cocktail_path(cocktail.id), :class => "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
