// Specific CSS for your home-page
body {
  background-image: url('https://res.cloudinary.com/awotawa/image/upload/v1605278238/zqvqnoj2h4mvxatyf62m.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
